.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'CabinetGrotesk-Bold', Arial, sans-serif;
    margin-top: 40px;
    background-color: #000;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
}

.project__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-bottom: solid 1px #f3f3f3; */
    width: 100%;
    padding: 0 0 20px 0;
}

.project__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project__title{
    display: flex;
    margin: 0;
    color: #f3f3f3;
}

.project__links{
    display: flex;
    align-items: center;
    gap: 10px;
}

.project__outgoing{
    max-width: 40px;
    max-height: 40px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    transform: scale(1);
    transition-duration: 500ms;
    /* width: 80px; */
}

.project__outgoing:hover{
    transform: scale(1.2);
    transition-duration: 500ms;
}

.project__image-box{
    display: flex;
    justify-content: center;
}

.project__screenshot{
    max-width: 300px;
    border-radius: 10px;
    border: solid 2px #000;
    box-shadow: 3px 2px 5px #000;
    background-color: rgb(161, 103, 226, .6);
    padding: 5px;
}

@media screen and (max-width: 550px) {
    .project__content{
        width: 100%;
    }

    .project__title{
        font-size: 18px;
    }

    .project__outgoing{
        width: 40px;
    }

    .project__screenshot{
        max-width: 200px;
    }
}