html,body{
  height: 100%;
  margin: 0;
}

body{
  background: #999090;
  background-size: cover;
  background-position: center;
  overflow: auto;
}

.app__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1360px;
}
