html,body{
  height: 100%;
  margin: 0;
}

body{
  background-color: #312b2b;
  background-size: cover;
  background-position: center;
  /* background: url(../../assets/rohit-tandon-9wg5jCEPBsw-unsplash.jpg) fixed; */
  overflow: auto;
}

.app{
  height: 100vh;
}

.app__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1360px;
}
