.header {
    display: flex;
    justify-content: space-between; /* Center the contents horizontally */
    align-items: center; /* Center the contents vertically */
    /* position: fixed;
    left: 0;
    right: 0;
    width: 100%; */
    padding: 10px; /* Simplify padding syntax */
    font-family: 'CabinetGrotesk-Bold', Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 40px;
    /* z-index: 1000; */
}

.header__contents {
    display: flex;
    justify-content: center; /* Center the contents inside .header__contents */
    align-items: center; /* Vertically center the contents */
}

.header__link{
    display: flex;
    gap: 10px
}

.header__github{
    /* background: url('../assets/githubLogo.png'); */
    width: 60px;
    border-radius: 50% 50%;
    transform: scale(1);
    transition-duration: 500ms;
}

.header__github:hover{
    /* background-color: white; */
    /* border-radius: 50% 50%; */
    transform: scale(1.2);
    transition-duration: 500ms;
}

.header__linkedin{
    /* background: url('../assets/githubLogo.png'); */
    width: 60px;
    transform: scale(1);
    transition-duration: 500ms;
    /* border-radius: 50% 50%; */
}

.header__linkedin:hover{
    /* background-color: white; */
    /* border-radius: 50% 50%; */
    transform: scale(1.2);
    transition-duration: 500ms;
}

.header__nav{
    display: flex;
}

.header__nav-bar{
    display: flex;
    align-items: center;
}

.header__nav-content{
    display: flex;
    list-style: none;
    gap: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.header__nav-link{
    text-decoration: none;
    color: #f3f3f3;
}

.header__nav-link:hover{
    opacity: 0.6;
}

@media screen and (max-width: 550px) {
    .header__github{
        width: 40px;
    }

    .header__linkedin{
        width: 40px;
    }

    .header__nav-link{
        font-size: 12px;
    }
    
}

@media screen and (max-width: 325px) {
    .header__nav-link{
        font-size: 11px;
    }
    
}